/assetmover
/astralsorcery
/crash-report
/datapacks
/downloads
/dumps
/logs
/patchouli_books
/relauncher
/resourcepacks
/saves
/screenshots
/shaderpacks
.ReAuth.cfg
.curseclient
minecraftinstance.json
optionsshaders.txt
user-prefs.json
crafttweaker.log
options.txt
patchouli_data.json
usercache.json
usernamecache.json
time.history
optionsof.txt
hei_bookmarks.ini
BotaniaVars.dat
