# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:AS_IMBUEDLEATHER=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:Abyssalnite=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ArmorMaterial=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:Coralium=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:CoraliumP=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:Depths=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Dread=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Dreadium=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:DreadiumS=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:Ethaxium=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:IC2_ALLOY=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IC2_BRONZE=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:PERIDOT=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:PatreonArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:SAPPHIRE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:SolsticeArmor=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:chaoticArmor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:cold_iron=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:draconicArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:heavy_armor=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:hermalArmor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:infusedPotatoArmor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 21]
    I:"netherex:black_salamander_hide"=21

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 21]
    I:"netherex:orange_salamander_hide"=21

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"netherex:wither_bone"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:potatoArmor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:scarlite_armor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:silver=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:steel_armor=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:turtle_armor=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:witches=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wyvernArmor=15
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ABYSSALNITE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:CORALIUM=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:CRYSTAL=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:DARKSTONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:DREADIUM=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ETHAXIUM=20
    I:Flint=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:IC2_BRONZE=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:PERIDOT=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10
    I:Ruby=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:SAPPHIRE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5
    I:Sapphire=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 33]
    I:SolsticeTool=33
    I:Steel=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22
    I:Tungstensteel=28

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:bound=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:cold_iron=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:demonic=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:dreadiumkatana_hilt=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:dreadiumkatana_katana=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:hellish=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:mat_thyrsus=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"netherex:amedian"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:silver=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:soulreaper=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"spartanweaponry:bronze"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:"spartanweaponry:copper"=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:"spartanweaponry:electrum"=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"spartanweaponry:invar"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:"spartanweaponry:lead"=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"spartanweaponry:nickel"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"spartanweaponry:platinum"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"spartanweaponry:silver"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"spartanweaponry:steel"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"spartanweaponry:tin"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssAbyssalnite=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ssBronze=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:ssConstantan=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssCopper=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ssCoralium=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssDarkstone=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssDreadium=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssElectrum=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ssElementium=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ssEnderium=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:ssEthaxium=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ssInvar=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssLead=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssLumium=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ssManasteel=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:ssNickel=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssObsidian=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ssPlatinum=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssSignalum=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssSilver=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssSoulforgedSteel=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssSteel=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:ssTerrasteel=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:ssThaumium=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:ssTin=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ssVoidmetal=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:sw_leather=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:vile=14
}


