# Configuration file

~CONFIG_VERSION: 0.1.0

world-1169767038 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=tin ore
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1169798510 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true

    # Default item to use to fill up fluids when clicking on a fluid ingredient in the menu, (format: item_name@meta)
    S:defaultFluidContainerItem=

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=crate

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world-1359968547 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@abys ingot
    B:overlayEnabled=true
}


world-1431591077 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443737904 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443737935 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443737966 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443737997 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738028 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738710 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738741 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738772 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738803 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738834 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738865 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738896 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738927 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738958 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443738989 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739671 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739702 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739733 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739764 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739795 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739826 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739857 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739888 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739919 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443739950 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443740632 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443740663 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443740694 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443740725 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=hoe
    B:overlayEnabled=true
}


world-1443740756 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443740787 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=book
    B:overlayEnabled=true
}


world-1443740818 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443740849 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443740880 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443740911 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443741593 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443741624 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=flint
    B:overlayEnabled=true
}


world-1443741655 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443741686 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=dirt
    B:overlayEnabled=true
}


world-1443741717 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=pick
    B:overlayEnabled=true
}


world-1443741748 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443741779 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443741810 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443741841 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1443741872 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1467581627 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@bio ore
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1974054333 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@energ
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1122611662 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1135309075 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=ice
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1135309076 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1544803905 {
    S:filterText=
}


world1667366071 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=cloud
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1690200562 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1730400454 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=ingo
    B:overlayEnabled=true
}


world1855637915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1926472851 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=dev
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world2986048 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=pickaxe
    B:overlayEnabled=true
}


world3556498 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world3832 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world3840 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world784711666 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=chunk
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world784711697 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Default item to use to fill up fluids when clicking on a fluid ingredient in the menu, (format: item_name@meta)
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=cloud

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world784711728 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world784711759 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world784711790 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world784711821 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=bone
    B:overlayEnabled=true
}


world784711852 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world784711883 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=candle
    B:overlayEnabled=true
}


world784711914 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world785103634 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world83766130 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world847522254 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=copper
    B:overlayEnabled=true
}


world856609915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world90574849 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world97 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=shar
    B:overlayEnabled=true
}


